/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background: #D4D4D4!important;
  font-size: 1.1em;
  text-align: center;
}

/*General*/
.container {
  width: 100%;
  text-align: center;
  color: #8db0f3;
  line-height: 1;
  min-height: 240px;
}

/*Botones*/
.button {
  text-align: center;
  font-size: 1.1em;
  
}

a {
  color: white;
  text-decoration: none;
}



/*Header principal*/
#main-header {
  background: #296BB5;
  padding: 5px 15px 20px 15px;
  height: 30px;
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  width: 98%;
}

/*Boton de inicio*/
.home {
  margin: 5px 0 0 5px;
}

/*Logo pagina*/
#main-header h1 {
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
}

/*Menu*/
div.menu{
  width: 60px;
  display: block;
  float: right;
  text-align: right;
  margin-top: 5px;
}

div.menu:hover{
  cursor: pointer;
}

div.menu span{
  height: 8px;
  margin-bottom: 6px;
  background-color: white;
  display: block;
}

/*Intro*/
#intro {
  background-image: url('../img/background.jpg');
  background-position: top center;
  background-size: cover;
  margin-top: 55px;
  padding-top: 50px;
  height: 250px;
  text-shadow: 5px 5px 3px #2515c1;
  text-align: center!important;
  color: white;
}

#intro h2 {
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 10px;
}

#intro p {
  font-size: 1.3em;
  letter-spacing: 5px;
}

/*Cuerpo de la pagina*/
.caja {
  margin-top: 10px;
  background-color: #3f369e;
  text-align: right;
  color: white;
  font-size: .9em;
  padding: 30px 50px;
}

.caja:nth-child(3n-1) {
  background: #b3d4fc;
  text-align: left;
  color: #2515c1;
  box-shadow: 0 0 10px;
}

.caja:nth-child(1) {
  margin-top: 0;
  text-align: center;
}

div.caja h2 {
  font-size: 1.7em;
  text-transform: uppercase;

}

div.caja p {
  font-size: 1.2em;
  letter-spacing: 3px;

}


/*boton iniciar*/
#empezar {
  height: 85px;
}


.content div.button {
  padding-top: 30px;
}

div.button a {
  width: 30%;
  background-color: #296BB5;
  padding: 10px 15px;
  border-radius: 10%;
  box-shadow: 0 5px 10px black;
  color: white;
}

div.button a:hover {
  background-color: rgba(41, 107, 181, 0.82);
}


/*Footer*/
footer {
  background: black;
  padding: 15px 30px 10px 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: .9em;
}

#contact {
  padding: 8px 10px;
}

#contact a {
  margin: 0 15px;
}

.derechos_autor {
  color: #D4D4D4;
  font-size: .8em;
}

/*----------------------------------------------------------------------------*/
.contenedor {
  width: 100%;
  min-height: 800px;
}

/*Encabezado*/

.encabezado h2 {
  margin-bottom: 0;
  margin-top: 50px;
}


/**/
.contenedor {

}

/*Campo*/
div.campo {
  background: #369e6a;
  padding: 40px;
  margin-bottom: 10px;
}

div.campo input {
  width: 70%;
  padding: 10px;
  border: none;
}

/*Menu Calendario*/
.nav_calendario {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  padding: 8px 0;
  background: #296BB5;
  box-shadow: 0 3px 5px black;
}

.nav_calendario a {
  padding: 10px 15px;
  margin-right: 15px;
}

.nav_calendario a:hover {
  background: #3589E8;
  border-bottom: 3px solid white;
}

/*activo*/
a.active {
    border-bottom: 3px solid white;
}

/*Separador*/
.separador {
  border-left: 6px solid #369e6a;
  height: 30%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 630px; 
}


/*Listas*/
div.lista {
  width: 95%;
  padding: 20px 15px 10px 15px;
  margin: auto;
  margin-bottom: 10px;
  background: rgba(41, 107, 181, 0.82);
  clear: both;
  min-height: 330px;
}

div.lista_tareas {
  width: 50%;
  float: left;
}

div.lista_tareas h3{
  width: 95%;
  margin: auto;
  margin-bottom: 15px;
  padding: 10px 0;
  background: #369e6a;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 3px 5px #016734;
}

div.lista_completada, div.lista_proceso {
  width: 95%;
  margin: 0 auto;
}

div.lista_tareas p {
  color: white;
  text-align: left;
  font-size: 1.2em;
  margin: auto;
  margin-bottom: 10px;
}

div.lista_tareas p:before {
  content: '-\00a0';
}

div.lista_tareas a {
  color: red;
  float: right;
  margin-right: 15px;
}

/*Barrita progreso -- Progress bar*/
div.progreso {
  width: 100%;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
}

div.progreso h3 {
  margin: auto;
  margin-bottom: 15px;
  font-size: 1.3em;
  color: rgba(41, 107, 181, 0.82);
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

#progress_bar {
  width: 80%;
  margin: auto;
  height: 30px;
  position: relative;
  background-color: #ddd;
}

#progress {
  background: #296BB5;
  width: 2%;
  height: 100%;
  position: absolute;
}

#progress_bar p {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 2px;
  left: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

